.gameboard {
	text-align: center;
}

.coloum {
	border: 1px solid #000;
	width: 200px;
	height: 200px;
	float: left;
	font-size: 250px;
	text-align: center;
	text-transform: uppercase;
}

.top-coloum {
	border-top: 0;
}

.right-coloum {
	border-right: 0;
}

.left-coloum {
	border-left: 0;
}

.bottom-coloum {
	border-bottom: 0;
}

.row {
	clear: both;
}